---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="hero container">
        <h2>About Us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae a
            corrupti exercitationem architecto ut ea vero, ex placeat
            consequuntur voluptates, molestiae consequatur?
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et
            sapiente dolore ut. Harum odit accusamus fugit!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
            non? Dolorem tempore nobis architecto. Labore accusamus temporibus
            illo tenetur recusandae tempora dolore!
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi,
            doloribus maiores deserunt, numquam at eveniet ullam harum pariatur
            voluptates, exercitationem deleniti quod dolores corrupti eos sint
            ipsum iure dicta veniam? Beatae quia vitae pariatur assumenda ipsam
            repellat laboriosam alias. Unde, dolores deleniti. Blanditiis
            exercitationem tempore explicabo. Quod consequuntur a dolor odit
            molestias, doloremque ipsam qui porro dolores minima sunt ullam
            aperiam vel alias voluptatibus labore? Tempora voluptatem repellat,
            fugiat facere iusto reiciendis rerum deserunt architecto rem eum.
        </p>
    </div>
</Layout>
