---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="hero container">
        <h2>contact Us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae a
            corrupti exercitationem architecto ut ea vero, ex placeat
            consequuntur voluptates, molestiae consequatur?
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et
            sapiente dolore ut. Harum odit accusamus fugit!
        </p>
    </div>
</Layout>
