@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&family=Nunito+Sans:wght@300;400;600;700;800;900&family=Telex&display=swap");

$title-font: "Archivo Narrow", sans-serif;
$main-font: "Telex", sans-serif;
$text-font: "Nunito Sans", sans-serif;
